* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Tahoma;
    font-weight: lighter;
    
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  position: absolute;
  top: 1vh;
  left: 1vh;
  color: white;
  background-color: black;
  border-radius: 5px;
  border: 2px solid black;

}

.material-symbols-outlined:hover {
    transform: scale(1.25);
    background-color: white;
    color:black ;
}

header {
    background-color: rgb(240, 234, 234);
    color: rgb(43, 35, 35);
    padding: 1vh;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

body {
    padding: 10vh 15% 10vh 15%;

}

main {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0 2vh 0 2vh;
    color: black;
    background-color: white;
}

.title {
    text-align: center;
    margin-bottom: 3vh;
}

.title-lower {
    text-align: center;
    margin-bottom: 1.5vh;
}

h3 {
    border-bottom: 4px solid black;
    margin: 2vh 0 2vh 0;
    font-weight: bold;
    padding-bottom: 1vh;
}

h4 {
    margin: 2vh 0 1vh 0;
 
}

section {
    padding-top: 4vh;
    padding-bottom: 2vh;
}

span {
    font-weight: bold;
}


li {
    margin-left: 5%;
    list-style: disc;
}

.projects {
    padding: 1vh 0 1vh 0;
}

a {
    color: blue;
    text-decoration: none;
}

p, li {
    line-height: 1.5;
    text-align: justify;
}

ul {
    margin-top: 1.5vh;
}

.bold {
    font-weight: bold;
}

.line-break {
    border-bottom: 0.2px solid black;
    padding-bottom: 2vh;
 }

 .education {
    padding-bottom: 2vh;
    padding-top: 2vh;
 }

.education-description {
    padding-bottom: 2vh;
}

 h5 {
    font-size: 15px;
 }

 .contact {
    margin: 0;
    line-height: 1.5;
 }

 .centre {
    text-align: center;
    font-weight: bold;
 }

 @media screen and (max-width: 900px) {
  
    body {
        padding: 10vh 2% 10vh 2%;
    }

    p, li, h1, h5, a, h4 {
        font-weight: bolder;
    }
          
}
