/* styles font family, style and weight on full page. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Tahoma;
    font-weight: normal;
}


/* adds background image and sets size, position and no repeat */
body {
    background-image: url(./Images/Bee.jpg);
    background-size: 85%;
    background-position: center; 
    background-repeat: no-repeat;
       

}


/* sets the header size, color and div display settings*/
header {
    min-height: 120px;
    width: 100%;
    background-color:rgb(35, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

}


/* aligns li's in the header and sets font size and padding */
header li{
    display: inline-flex;
    padding-left: 30px;
    font-size: 20px;
}


/* h1 font size, color and padding in header */
header h1 {
    font-size: 60px;
    color: white;
    padding-left: 100px;

}


/* font color for aligned header list */
header a {
    color: white;
    
}

a {
    text-decoration: none;
}


/* padding on list div */
header ul {
    padding-right: 100px;
}


/* adds background image and display properties to sub header */
.sub-header {
    width: 100%;
    min-height: 100px;
    flex-wrap: nowrap;
    background-image: url(./Images/matrix-white.jpg);;
    margin-bottom: 100px;
    
}


/* style font size, colour and position text in sub header */
.sub-header h2 {
    font-size: 40px;
    color: white;
    text-align: end;
    margin-right: 100px;
    padding-top: 15px;
    
}


/* adds margin to main page in-between the subheader & footer */
main {
    margin: 50px 100px 50px 100px;
}


/* aligns,centres the div's in article section, and sets the width of div */
.article {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    
}


/* adds space between h2 text and image */
#about-me {
    flex: none;
    padding-right: 40px;
    
}


/* adds space bewteen image and bio*/
#about-image {
    padding-right: 80px;
    
    
}


/* adds radius and shadow to image */
#about-image img {
    border-radius: 30px;
    /* border: 1px solid #555; */
        
}


/* adds background colour, border and seperates text in bio */
#about-text {
    line-height: 1.2;
    border: 0.3px solid #555;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(248, 247, 247);
    
}


/* stets font size and padding to H3's in bio */
#about-text h3 {
    font-size: 25px;
}


/* font colour, size and aligns p element text*/
#about-text p {
    padding-bottom: 2px;
    color: black;
    text-align: justify;
    font-size: 14px;

}


/* font size and color for work & about me text */
.article h2, 
.work-header h2 {
    font-size: 40px;
    color: black;
}


/* sets Height width and div display properties for nav element */
.work {
    display: flex;
    align-items: center;
    min-height: 700px;
    width: 100%;
    margin-top: 250px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}


/* adds even space between images */
.work-header, 
.work-image {
    flex-grow: 2;

}


/* makes image divs to relative so lables can be set on top of them */
.relative-work {
    position: relative;
}


/* positions label over images, and sets font size , color and radius to box*/
.banner {
    position: absolute;
    top: 50px;
    background-color: black;
    opacity: 0.8;
    color: white;
    font-weight: lighter;
    padding: 10px;
    border-radius: 0px 15px 15px 0px ;
        
}


/* adds border to work images */
nav div img {
    border: 0.2px solid black;
    border-radius:5px;
}


.banner h3 {
    color: white;
    padding-bottom: 5px;
}

/* styles text on tag over work images */
.banner p {
    font-weight: lighter;
    color: white;
    line-height: 0.3;

}


/* font size for p text in nav section */
nav p {
    font-size: 12px;
    padding-top: 1px;
}


/* adds sspace between work text and image */
nav h2 {
    margin-right: 50px;
}


/* enlarges images when you hover over them */
.work-image:hover { 
    transform: scale(0.95); 
}

#description-1 {
    margin: auto;
    margin-top: 10px;
    width: 350px;
    padding: 10px;
    background-color: rgb(248, 247, 247);
    border-radius: 10px;
    text-align: justify;

}

#description-2 {
    margin: auto;
    margin-top: 10px;
    width: 275px;
    padding: 10px;
    background-color: rgb(248, 247, 247);
    border-radius: 10px;
    text-align: justify;

}


#description-3 {
    margin: auto;
    margin-top: 10px;
    width: 275px;
    padding: 10px;
    background-color: rgb(248, 247, 247);
    border-radius: 10px;
    text-align: justify;

}

.image-div-padding {
    padding-right: 20px;
}

/* aligns text and button in a row and sets the size of section */
.button {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    align-items: center;
    margin-bottom: 100px;   

}


/* font size for CV h2 */
.button h2 {
    font-size: 40px;
    
}


/* size and postioning of button */
.button button {
    width: 200px;
    height: 40px;
    font-size: 15px;
    margin-left: 115px;
    
}


/* font colour of text on button */
.button a {
    color: white;
    text-decoration: none;
}

button {
    background-color: rgb(164, 165, 165);
    border-radius: 10px;
    border: none;
}

/* enlarges button when you hover over it */
.button button:hover { 
    transform: scale(1.1); 
    
    }


/* sets the size and display properties for footer */
footer {
    background-color: rgb(164, 165, 165);
    min-height: 100px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
        
}


/* displays footer list in-line */
footer ul {
    display: inline-flex;
    margin-right: 70px;
    
}


/* add space between footer list text */
footer li {
    padding-right: 30px;
}


/* font size, color and padding for contact me h2*/
footer h2 {
    color: white;
    padding-left: 100px;
    font-size: 40px;
    
}


/* font colour for footer list */
footer a {
    color: white;
}



/* removes margin and padding from all listed elements */
@media screen and (max-width: 600px) {
    *,
    main,
    .sub-header,
    header,
    header ul,
    header li,
    .article,
    footer,
    footer h2,
    header h1
    .button,
    .button button
     {
        margin: 0px;
        padding: 0px;
    }


}
    

/* assigns flex wrap to stack all elemnts */
@media screen and (max-width: 900px) {
    header,
    header h1,
    header ul,
    .article,
    footer,
    footer ul   {
        display: flex;
        flex-wrap: wrap;
    }


}


/* turns each elements into block display and adds padding to seperate text */
@media screen and (max-width: 900px) {
    header ul,
    header li,
    header h1,
    footer ul,
    footer li,
    footer h2,
    .button
         {
    
        display: block;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
}


/* sets the width of images and bio */
@media screen and (max-width: 900px) {
    #about-image img,
    #about-me,
    #about-image,
    #about-text,
    .work-image img,
    #description-1,
    #description-2,
    #description-3  {
         width: 95%;
         align-content: center;
          
}


/* centres about me h2 text */
#about-me h2 {
    padding-left: 50px;
}
}

/* adds padding to main section */
@media screen and (max-width: 900px) {
    main {
        padding-left: 15px;
        
}
}


/* seperates all main text and and images */
@media screen and (max-width: 900px) {
    #about-me,
    #about-image,
    #about-text,
    .work-image,
    .work-image img,
    .button div {
        margin-top: 15px;
        
}
}

/* centres h2 & h3 text */
@media screen and (max-width: 900px) {
    h2,
    h3  {
         text-align: center;
        
}
}

/* centres text and image with margin */
@media screen and (max-width: 900px) {
    .button button,
    #about-image    {
        margin-left: 25%;
        margin-top: 20px;
        
    }
}


/* makes font weight thicker for mobile screens */
@media screen and (max-width: 900px) {
    *   {
        font-weight: normal;
        
}
}

