/* style font family, style and weight on full page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Tahoma;
    font-weight: lighter;
}


/* adds background image */
body {
    background-image: url(./Images/Marble.jpg);
    background-size: cover;
            
}


/* styles header header size and color and div display settings*/
header {
    min-height: 120px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

}


/* aligns li's in header and font size and padding */
header li{
    display: inline-flex;
    padding-left: 30px;
    font-size: 20px;
}


/* h1 font color and padding in header */
header h1 {
    font-size: 60px;
    color: white;
    padding-left: 100px;
}


/* font color for aligned header list */
header a {
    color: white;
    
}


/* padding on list div */
header ul {
    padding-right: 100px;
}


/* adds background image and display properties to sub header */
.sub-header {
    width: 100%;
    min-height: 175px;
    flex-wrap: nowrap;
    background-image: url(./Images/matrix.webp);;
    margin-bottom: 100px;
    
}

/* styale font size, colour and position text in sub header */
.sub-header h2 {
    font-size: 40px;
    color: white;
    text-align: end;
    margin-right: 100px;
    padding-top: 15px;
    
}


/* adds margin to main page in-between subheader & footer */
main {
    margin: 50px 100px 50px 100px;
}


/* aligns & centres the div's in article section */
.article {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    
}


/* adds space between h2 text and image */
#about-me {
    flex: none;
    padding-right: 80px;
    
}


/* adds space bewteen image and bio*/
#about-image {
    padding-right: 80px;
    
    
}


/* add radius and shadow to image */
#about-image img {
    border-radius: 30px;
    box-shadow: 5px 10px black;
    
}


/* add backgrong colour, border and seperates text in bio */
#about-text {
    line-height: 1.2;
    border: 1px solid #555;
    border-style: outset;
    padding: 10px;
    background-color: whitesmoke;
        
}


/* text size and padding to H3 in bio */
#about-text h3 {
    font-size: 30px;
    padding-bottom: 20px;
}


/* font colour, size and aligns p element text*/
#about-text p {
    padding-bottom: 20px;
    color: black;
    text-align: justify;
    font-size: 15.5px;

}


/* font size and color for work & about me text */
.article h2, .work-header h2 {
    font-size: 40px;
    color: black;
}


/* Height width and div display properties for nav element */
.work {
    display: flex;
    align-items: center;
    min-height: 700px;
    width: 100%;
    margin-top: 250px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}


/* adds even space between images */
.work-header, .work-image {
    flex-grow: 2;

}


/* makes divs relative so lables can set on top of them */
.relative-work {
    position: relative;
}


/* positions label over images, and sets font size and color*/
.banner {
    position: absolute;
    top: 50px;
    background-color: black;
    color: white;
    font-weight: lighter;
    padding: 10px;
    line-height: 1.5;
    border-radius: 0px 15px 15px 0px ;
        
}


/* adds border to work images */
nav div img {
    border: 1px solid black;
}


/* styles text on tag over work images */
.banner h3, .banner p {
    font-weight: lighter;
    color: white;

}


/* font size for HTML & CSS text */
nav p {
    font-size: 12px;
    padding-top: 3px;
}


/* add between work text and image */
nav h2 {
    margin-right: 50px;
}


/* enlarges images when you hover over them */
.work-image:hover { 
    transform: scale(1.1); 
}


/* align text and button in a row and size of section */
.button {
    display: flex;
    min-height: 100px;
    align-items: center;
    margin-bottom: 100px;   

}


/* font size for CV */
.button h2 {
    font-size: 40px;
    
}


/* size and postioning of button */
.button button {
    width: 200px;
    height: 40px;
    font-size: 15px;
    margin-left: 115px;
    
}


/* font colour of text on button */
.button a {
    color: black;
}


/* enlarges button when you hover over it */
.button button:hover { 
    transform: scale(1.1); 
    
    }


/* size and display properties for footer */
footer {
    background-color: rgb(73, 75, 77);
    min-height: 100px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
        
}


/* display footer list in-line */
footer ul {
    display: inline-flex;
    margin-right: 70px;
    
}


/* seperates footer list text */
footer li {
    padding-right: 30px;
}


/* font size, color and padding for contact me text*/
footer h2 {
    color: white;
    padding-left: 100px;
    font-size: 40px;
    
}


/* font colour for footer list */
footer a {
    color: white;
}


/* makes text, image and bio wrap at 900px */
@media screen and (max-width: 900px) {
    .article {
      display: block;      
    }
  }

  @media screen and (max-width: 900px) {
    #about-text {
      display: block; 
      min-width: 400px;     
    }
  }


/* adds padding between all main element text and images at 900px */
@media screen and (max-width: 900px) {
    article div, .work-header, .work-image {
    padding: 25px;
      
    }
  }


/* aligns footer list on top of each other at 900px */
@media screen and (max-width: 900px) {
    footer ul {
    display: block;
      
    }
  }